<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <div class="chat-page">
        <div class="chat-history" id="chatHistory"></div>
        <div class="chat-form">
            <form action="" id="chatForm">
                <input type="text" id="messageContent">
                <button>Send</button>
            </form>
        </div>
    </div>
    <script>
        const nickname = '<%= nickname %>';
        async function poll() {
            const response = await fetch('/poll');
            const data = await response.json();
            document.getElementById('chatHistory').innerHTML = data.history
            .map(his => `<p>${his.nickname}: ${his.message}</p>`)
            .join('');

            setTimeout(poll, 2000);
        }

        function sendMessage(e) {
            e.preventDefault();
            const messageContent = document.getElementById('messageContent').value;
            if(messageContent.trim() !== '') {
                fetch('/send', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nickname: nickname, messageContent: messageContent })
                });
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            poll();
            document.getElementById('chatForm').addEventListener('submit', sendMessage);
        });
    </script>
</body>
</html>